<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <title>Mil Ojos</title>            
            <link rel="stylesheet" href="assets/css/bootstrap.css" media="all">
            <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" media="all">
	    <link rel="stylesheet" href="assets/css/style.css" media="all" />
	</head>
	<body>
		<header class="header">			
		</header>
		<div id="map-container" class="content">

      <input type="input" class="rounded" id="buscar" name="buscar">
      <div id="sendIssues" class="hidden"></div>
      <div id="navControls"></div>
			<div id="map-canvas"></div>

			<ul id="actions">
				<li>
					<a href="#" id="reportsBtn" class="mainAction" title="Reportes"><span class="milIcon reportsIcon"></span>Reportes</a>
	        <ul class="submenu hidden">
	        	<li>
							<a href="#" class="rapBtn" data-type="RAPONEO">
								<span class="milIcon rapIcon"></span>Raponeos</a>
						</li>
	        	<li>
							<a href="#" class="robBtn" data-type="ATRACO">
								<span class="milIcon robIcon"></span>Atracos</a>
						</li>
	        	<li>
							<a href="#" class="houseBtn" data-type="ROBO-RESIDENCIA">
								<span class="milIcon houseIcon"></span>Robos en Residencia</a>
						</li>
	        	<li>
							<a href="#" class="carBtn" data-type="ROBO-VEHICULO">
								<span class="milIcon carIcon"></span>Robos de Vehículos</a>
						</li>
	        	<li>
							<a href="#" class="tripBtn" data-type="PASEO-MILLONARIO">
								<span class="milIcon tipIcon"></span>Paseos Millonarios</a>
						</li>
	        </ul>
				</li>
				<li>
					<a href="#" id="reportBtn" class="mainAction" title="Reportar"><span class="milIcon reportIcon"></span>Reportar</a>
	        <ul class="submenu hidden">
	        	<li>
							<a href="#" class="report-btn rapBtn" data-type="RAPONEO">
								<span class="milIcon rapIcon"></span>Raponeo</a>
						</li>
	        	<li>
							<a href="#" class="report-btn robBtn" data-type="ATRACO">
								<span class="milIcon robIcon"></span>Atraco</a>
						</li>
	        	<li>
							<a href="#" class="report-btn houseBtn" data-type="ROBO-RESIDENCIA">
								<span class="milIcon houseIcon"></span>Robo en Residencia</a>
						</li>
	        	<li>
							<a href="#" class="report-btn carBtn" data-type="ROBO-VEHICULO">
								<span class="milIcon carIcon"></span>Robo de Vehículo</a>
						</li>
	        	<li>
							<a href="#" class="report-btn tripBtn" data-type="PASEO-MILLONARIO">
								<span class="milIcon tipIcon"></span>Paseo Millonario</a>
						</li>
	        	<li>
							<a href="#" class="allBtn" data-type="TODOS">
								<span class="milIcon allIcon"></span>Todos</a>
						</li>
	        </ul>
				</li>
			</ul>

		</div>

		<script src="components/requirejs/require.js" data-main="assets/app/main"></script>
		<script>
			require.config({
		    basePath: 'assets/app',
		    shim: {
		    	'jquery': {
		    		exports: '$'
		    	}	
		    },
		    paths: {
		    	'backbone': '../../components/backbone-amd/backbone',
		    	'underscore': '../../components/underscore-amd/underscore',
		    	'jquery': '../../components/zepto/zepto',
		    	'text': '../../components/requirejs-text/text'
		    } 
		  });
		</script>

		<script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUtCS5wnCkpcekVE3NA3tWCWo9Y1KPWIY&sensor=false">
		    </script>

	<body>
</html>