<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>MilOjOs</title>
    <link rel="stylesheet" href="css/main.css" media="all">
  </head>
  <body ontouchstart="">
    <div id="wrapper">
      <header></header>
      <section id="map-wrapper"></section>
      <nav id="categories-menu"></nav>
      <aside id="filters-wrapper" class="collapsible"></aside>
      <section id="settings-wrapper" class="collapsible"></section>
    </div>


    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUtCS5wnCkpcekVE3NA3tWCWo9Y1KPWIY&amp;sensor=false">
    </script>
    <script src="app/main.js"></script>
  <body>
</html>
