<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <title>Mil Ojos</title>
	    <link rel="stylesheet" href="assets/css/style.css" />
	</head>
	<body>
    <div>
		<header class="header">
			<h1>Mil Ojos</h1>
		</header>
		<div id="map-container" class="content">
			<div id="map-canvas"></div>
			<div id="actions">
				<a href="#" id="reportsBtn">Reports</a>
				<a href="#" id="reportBtn">Report</a>
			</div>
		</div>
		</div>
		<footer class="footer">
			<p>Mas vale la seguridad que la policia.</p>   
		</footer>
		<script src="components/zepto/zepto.js"></script>
		<script src="components/requirejs/require.js" data-main="assets/app/main"></script>
		<script>
			require.config({
		    basePath: 'assets/app',
		    shim: {
		    	'jquery': {
		    		exports: '$'
		    	}	
		    },
		    paths: {
		    	'backbone': '../../components/backbone-amd/backbone',
		    	'underscore': '../../components/underscore-amd/underscore',
		    	'jquery': '../../components/zepto/zepto'
		    } 
		  });
		</script>
		<!-- // <script src="assets/app/models/markerModel.js"></script>
		// <script src="assets/app/collections/markersCollection.js"></script>
		// <script src="assets/app/views/mapView.js"></script>
		// <script src="assets/app/router.js"></script>
		<script src="assets/app/main.js"></script> -->

		<script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUtCS5wnCkpcekVE3NA3tWCWo9Y1KPWIY&sensor=false">
		    </script>

	<body>
</html>