<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <title>Mil Ojos</title>            
            <link rel="stylesheet" href="assets/css/bootstrap.css" media="all">
            <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" media="all">
	    <link rel="stylesheet" href="assets/css/style.css" media="all" />
	</head>
	<body>
    <div>
		<header class="header">			
		</header>
		<div id="map-container" class="content">
                        <div><input type="input" class="rounded" id="buscar" name="buscar"></div>
			<div id="map-canvas"></div>
                        
			<div id="actions">
				<div class="span6" id="reportsBtn" title="Reportes"><img src="assets/css/images/reports.png" /></div>
				<div class="span6" id="reportBtn" title="Reportar"><img src="assets/css/images/report.png" /></div>
			</div>


                        <div id="menu">
                            <div id="btn1" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                            <div id="btn2" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                            <div id="btn3" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                            <div id="btn4" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                            <div id="btn5" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                            <div id="btn6" class="boton"><img src="assets/css/images/opcion_menu.png"/></div>
                        </div>

		</div>
		</div>
		<script src="components/zepto/zepto.js"></script>
		<script src="components/requirejs/require.js" data-main="assets/app/main"></script>
		<script>
			require.config({
		    basePath: 'assets/app',
		    shim: {
		    	'jquery': {
		    		exports: '$'
		    	}	
		    },
		    paths: {
		    	'backbone': '../../components/backbone-amd/backbone',
		    	'underscore': '../../components/underscore-amd/underscore',
		    	'jquery': '../../components/zepto/zepto'
		    } 
		  });
		</script>
		<!-- // <script src="assets/app/models/markerModel.js"></script>
		// <script src="assets/app/collections/markersCollection.js"></script>
		// <script src="assets/app/views/mapView.js"></script>
		// <script src="assets/app/router.js"></script>
		<script src="assets/app/main.js"></script> -->

		<script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUtCS5wnCkpcekVE3NA3tWCWo9Y1KPWIY&sensor=false">
		    </script>

	<body>
</html>