<?xml version='1.0' encoding='utf-8'?>
<widget id="com.milojos.MilOjos" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>MilOjos</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="mil-ojos@googlegroups.com" href="http://milojos.co">
        MilOjos Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
</widget>
