<!DOCTYPE html>
<html lang="es">
	<head>
	    <meta charset="UTF-8" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	    <title>Mil Ojos</title>
            <link rel="stylesheet" href="assets/css/bootstrap.css" media="all">
            <link rel="stylesheet" href="assets/css/bootstrap-responsive.css" media="all">
	    <link rel="stylesheet" href="assets/css/style.css" media="all" />
            <script type="text/javascript">
    //<![CDATA[

	// Inicialización de variables.
    var map      = null;
    var geocoder = null;

    function load() {                                      // Abre LLAVE 1.
      if (GBrowserIsCompatible()) {						   // Abre LLAVE 2.
        map = new GMap2(document.getElementById("map"));
		
		
        map.setCenter(new GLatLng(-33.57365962427301,-73.125), 3);//LATITUD,  LONGITUD
        map.addControl(new GSmallMapControl());
	   	map.addControl(new GMapTypeControl());
		map.addControl(new GOverviewMapControl());
        geocoder = new GClientGeocoder();

		//poner marcas en mapa
		var punto_marca = new GPoint (-70.62997430562973, -33.57365962427301);//LATITUD, LONGITUD
		var marca = new GMarker(punto_marca); 
		map.addOverlay(marca);
		
		var punto_marca = new GPoint (-70.675048828125, -33.47330113002309);//LONGITUD, LATITUD
		var marca = new GMarker(punto_marca); 
		map.addOverlay(marca);
		
		var punto_marca = new GPoint (-70.62183380126953, -33.535709535461095);//LONGITUD, LATITUD
		var marca = new GMarker(punto_marca); 
		map.addOverlay(marca);
		//GEvent.addListener(marca, "click", ocultar_mostrar_poligono); 
        //---------------------------------//
        //   MARCADOR AL HACER CLICK
		//---------------------------------//
		GEvent.addListener(map, "click",
			function(marker, point) {
 		 		if (marker) {
               		null;
              		} else {
          			map.clearOverlays();
					var marcador = new GMarker(point);
					map.addOverlay(marcador);
					marcador.openInfoWindowHtml("<b><br>Coordenadas:<br></b>Latitud : "+point.y+"<br>Longitud : "+point.x+"<a href=http://www.mundivideo.com/fotos_pano.htm?lat="+point.y+"&lon="+point.x+"&mapa=3 TARGET=fijo><br><br>Fotografias</a>");
					//marcador.openInfoWindowHtml("<b>Coordenadas:</b> "+point.y+","+point.x);
					document.form_mapa.coordenadas.value = point.y; //latitud
					document.form_mapa.longitud.value = point.x; //Longitud
					}
  			}
			);
        //---------------------------------//
        //   FIN MARCADOR AL HACER CLICK
		//---------------------------------//

      } // Cierra LLAVE 1.
    }   // Cierra LLAVE 2.

    //---------------------------------//
    //           GEOCODER
	//---------------------------------//
    function showAddress(address, zoom) {
    	if (geocoder) {
        	geocoder.getLatLng(address,
          		function(point) {
            		if (!point) {
            			alert(address + " not found");
            		} else {
            			map.setCenter(point, zoom);
            			var marker = new GMarker(point);
            			map.addOverlay(marker);
            			marker.openInfoWindowHtml("<b>"+address+"</b><br>Coordenadas:<br>Latitud : "+point.y+"<br>Longitud : "+point.x+"<a href=http://www.mundivideo.com/fotos_pano.htm?lat="+point.y+"&lon="+point.x+"&mapa=3 TARGET=fijo><br><br>Fotografias</a>");
       			     //marker.openInfoWindowHtml("<b>Latitud:</b> "+point.y+"<br /><b>Longitud:</b> "+point.x);
       			      document.form_mapa.coordenadas.value = point.y;
					  document.form_mapa.longitud.value = point.x; //Longitud
               		}
               	}
        	);
      	}}
    //---------------------------------//
    //     FIN DE GEOCODER
	//---------------------------------//

    //]]>
	
	function ocultar_mostrar_poligono(){
   if (polygon.isHidden()){
      //alert("Estaba oculto");
      polygon.show();
   }else{
      //alert("Estaba mostrandose");
      polygon.hide();
   }
} 
     </script>
	</head>
	<body>
    <div>
            <label for="comentario">Como Ocurrio?</label>
            <textarea id="comentario" name="comentario" cols="25" rows="3"></textarea>
            <label for="comentario">Cuando Ocurrio?</label>
            <input type="datetime" id="fecha" name="fecha">
            <input type="text" id="longitud" value="">
            <input type="text" id="latitud" value="">
            <div id="map" style="width: 700px; height: 500px"></div>
            <input type="submit" class="btn" value="Enviar">
    </div>
            <script type="text/javascript"
		      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBUtCS5wnCkpcekVE3NA3tWCWo9Y1KPWIY&sensor=false">
		    </script>

	</body>
</html>